@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");

:root {
  --text-color: #333;
  --bg-color: white;
  --border-color: black;
  --hover-bg: black;
  --hover-text: white;
}

[data-theme="dark"] {
  --text-color: #ddd;
  --bg-color: #111;
  --border-color: white;
  --hover-bg: white;
  --hover-text: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: background-color 0.1s ease-in-out, color 0.3s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--bg-color);
}

header,
footer,
main {
  border-color: var(--border-color);
}

header {
  padding: 10px;
  font-size: 24px;
  border-bottom: 2px solid;
  text-align: center;
  line-height: 1.25;
}

header > p {
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  text-transform: lowercase;
  margin: 5px 0;
  padding: 0 5px;
  border: 2px solid;
  transition: letter-spacing 0.2s ease-in-out, font-weight 0.3s ease-in-out;
  letter-spacing: -1px;
}

header > p:hover {
  letter-spacing: 3px;
  font-weight: lighter;
}

nav > a {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  letter-spacing: -2px;
}

nav > a:hover {
  transform: translateY(-5px);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 0;
}

main {
  flex: 1;
  width: 100%;
  max-width: 750px;
  margin: 15px auto;
  padding: 0 15px;
  border-left: 2px solid;
  border-right: 2px solid;
}

@media (max-width: 800px) {
  main {
    border-left: none;
    border-right: none;
  }
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 2px solid;
  font-weight: 300;
}

p {
  line-height: 1.6;
  font-size: 17px;
  font-weight: 400;
  margin: 5px 0 15px 0;
}

h1,
h2,
h3 {
  margin: 5px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    text-decoration 0.1s ease-in-out;
}

a:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  text-decoration: none;
}

span.name {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer p {
  letter-spacing: -1px;
  margin: 5px auto;
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  main {
    padding: 0 10px;
  }

  header {
    font-size: 20px;
    padding: 5px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.project-card {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  margin: 15px 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-card:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  transform: translateY(-5px);
}

.project-card:hover a {
  color: var(--hover-text);
  border-color: var(--hover-text);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.project-title {
  font-weight: bold;
  flex-grow: 1;
}

.project-date {
  font-weight: lighter;
  opacity: 0.7;
  white-space: nowrap;
  margin-left: 10px;
}

.project-brief {
  font-size: 16px;
}

.project-link {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid var(--border-color);
  padding: 5px 10px;
  text-decoration: none;
}

.blog-card {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  margin: 15px 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-card:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  transform: translateY(-5px);
}

.blog-card:hover a {
  color: var(--hover-text);
  border-color: var(--hover-text);
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.blog-title {
  font-weight: bold;
  flex-grow: 1;
}

.blog-date {
  font-weight: lighter;
  opacity: 0.7;
  white-space: nowrap;
  margin-left: 10px;
}
.blog-excerpt {
  font-size: 16px;
}

.blog-link {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid var(--border-color);
  padding: 5px 10px;
  text-decoration: none;
}
