* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px;
  border-bottom: black 2px solid;
  letter-spacing: -2px;
  text-align: center;
  line-height: 1.25
}

header>p {
  display: inline-block;
  transition: letter-spacing 0.2s ease-in-out, font-weight 0.3s ease-in-out;
  font-size: 24px;
  font-weight: bolder;
  text-transform: lowercase;
  margin: 5px 0;
  padding: 0 5px;
  border: black 2px solid
}

header>p:hover {
  letter-spacing: 2px;
  font-weight: lighter;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

main {
  flex: 1;
  width: 100%;
  max-width: 750px;
  margin: 15px auto;
  padding: 0 15px;
  border-left: black 2px solid;
  border-right: black 2px solid;
}

footer {
  padding: 10px;
  text-align: center;
  border-top: black 2px solid;
}

p {
  line-height: 1.5;
  font-weight: 400;
  margin: 15px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: #111;
  color: white;
}

span.name {
  background-color: #111;
  color: white;
}

footer>p {
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 5px auto;
}